@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Gerenciador de Tarefas</h1>
<div class="textohome">
    <p> Uma gerenciadora de tarefas é uma ferramenta essencial para a organização eficiente de atividades pessoais e profissionais. Ela oferece uma plataforma onde usuários podem listar, priorizar, e acompanhar suas tarefas de maneira estruturada. A funcionalidade principal de uma gerenciadora de tarefas inclui a capacidade de criar listas de tarefas, atribuir prazos, definir prioridades, e monitorar o progresso ao longo do tempo. Isso não só ajuda a melhorar a produtividade pessoal, mas também facilita a colaboração em equipe ao permitir a delegação de responsabilidades e a visualização clara do status de cada tarefa.
Com integrações possíveis com calendários, lembretes automáticos, e notificações em tempo real, uma gerenciadora de tarefas se torna uma aliada poderosa no planejamento e na execução eficaz de projetos e atividades do dia a dia.</p>
</div>
</div>

<style>
.textohome{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* 100% da altura da viewport */
    }
</style>
